<br>
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li>Authors </li>
      <li>
        <span class="show-for-sr">Current: </span> <%= @author.name %>
      </li>
    </ul>
  </nav>
</div>
<br>

<div class="row column text-center">
  <br>
  <h2 align="center"><%= @author.name %></h2>
  <br>
</div>


<div class="row column text-center">
  <h3>Books</h3>
  <hr>
</div>

<div class="row small-up-2 large-up-4">
  <% @books.each do |book| %>
      <div class="column">
        <%= image_tag book.avatar.url(:large), {:class => 'thumbnail'} %>
        <h5><%= link_to book.name, book_path(book)  %></h5>
        <p><%= number_to_currency(book.cost, unit:"") %> &#x20BA;</p>
        <%= link_to 'Buy now!', book_path(book), {:class => 'button expanded'} %>
      </div>
  <% end %>
</div>
<hr>