 <br>
      <div class="row columns">
         <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
               <li><%= link_to "Home", root_path %></li>
               <li><%= link_to @book.category.name, category_path(@book.category) %></li>
               <li>
                  <span class="show-for-sr">Current: </span> <%= @book.name %>
               </li>
            </ul>
         </nav>
      </div>
      <div class="row">
         <div class="medium-4 columns">
           <%= image_tag @book.avatar.url, {:class => "thumbnail"} %>
         </div>
         <div class="medium-8 columns">
            <h3><%= @book.name %></h3>
            <p><%= @book.content %></p>
            <div class="row">

               <div class="small-6 columns">
                 <b>Author: </b><% @book.authors.each do |author| %>
                   <%= link_to author.name, author_path(author)%>
                  <% end %>
                 <br>
                 <b>Pages: </b><%= @book.page_num %>
                 <br>
                 <b>Published Date: </b><%= @book.published_date %>
                 <br>
                 <br>
                 <h4><b>Cost: </b><%= number_to_currency(@book.cost, unit:"") %> &#x20BA;</h4>
               </div>
               <div class="small-6 columns">
                 <b>Language :</b><%= @book.language %>
                 <br>
                 <b>Stock Status: </b><%= @book.stock<=0 ? "Sorry, not available." : "Available!" %>
                 <br>
                 <b>Publisher: </b><%= @book.publisher %>
                 <br>
                 <br>
                 <div class="small-3 columns"><br><b>Rating :</b></div>
                 <div class="small-7 columns"><%= rating_for @book, "rate", :disable_after_rate => true, :imdb_avg => true%></div>
                 <div class="small-2 columns"></div>


               </div>
            </div>
           <br>
           <%= link_to 'Add To Cart', carts_path(:id=>@book), {:class => 'button large expanded', method: :post}  %>
            <div class="small secondary expanded button-group">
               <a class="button">Facebook</a>
               <a class="button">Twitter</a>
               <a class="button">Instagram</a>
            </div>
         </div>
      </div>
      <div class="column row">
         <hr>
         <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Comments</a></li>
            <li class="tabs-title"><a href="#panel2">Similar Products</a></li>
         </ul>
         <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
               <h4>Comments</h4>
              <% if @comments.nil? %>
                  <div class="media-object stack-for-small">
                    <div class="media-object-section">
                      <img class="thumbnail" src="/comment.png">
                    </div>
                    <div class="media-object-section">
                      <h5>There are no comments yet</h5>
                      <p>Comment and be the first one!</p>
                    </div>
                  </div>
              <% else %>
                 <% @comments.each do |comment| %>
                   <div class="media-object stack-for-small">
                      <div class="media-object-section">
                         <img src="/comment.png">
                      </div>
                      <div class="media-object-section">
                         <h5><%= comment.user.first_name + " " + comment.user.last_name %></h5>
                         <p><%= comment.comment %></p>
                      </div>
                      </div>
                <% end %>
              <% end %>
               <label>
               <% if current_user == nil %>
                 Sign in to send a comment.
               <% else %>
                 My Comment (Signed in as: <%=current_user.first_name + " " + current_user.last_name %>)
                   <%= form_for(Comment.new) do |f| %>
                     <%=f.text_area :comment, placeholder: "Write a comment..."%>
                     <%=f.hidden_field :user_id, :value => current_user.id%>
                     <%=f.hidden_field :commentable_id,{ :value => params[:id]}%>
                   </label>
                     <%=f.submit "Send",  :class=>"button" %>
                   <% end %>
               <% end %>
            </div>
            <div class="tabs-panel" id="panel2">
               <div class="row medium-up-3 large-up-5">
                 <% @relateds.each do |related| %>
                    <div class="column">
                        <%= image_tag related.avatar.url(:medium), {:class => 'thumbnail'} %>
                       <h8><%= related.name %></h8>
                      <br>
                      <small><%= number_to_currency(related.cost, unit:"") %> &#x20BA;</small>
                      <%= link_to 'Buy Now', book_path(related), {:class => 'button hollow tiny expanded'} %>
                    </div>
                 <% end %>
               </div>
            </div>
         </div>
      </div>
